[Unit]
Description=Scapedle deploy if main has changed
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/scapedle
ExecStart=/usr/bin/docker compose run --rm builder if-changed
